<!DOCTYPE html>
<html>
	<head>
		<title>Simply added form</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
	</head>
<body id="body">
	<div class="panel panel-primary">
		<div class="panel-heading">Registration Successful</div>
		 <div class="panel-body">
		<div class="form-group">
			<label for="firstName" class="col-sm-3 control-label">First Name</label>
			<div class="col-sm-8">
      	<span id="firstName">{{#each user}}{{firstName}}{{/each}}</span>
    	</div>
		</div><!--end firstname-->
		<div class="clearfix"></div>

		<div class="form-group">
			<label for="lastName" class="col-sm-3 control-label">Last Name</label>
			<div class="col-sm-8 ">
				<span id="lastName">{{#each user}}{{lastName}}{{/each}}</span>
			</div>
		</div><!--end lastname-->
		<div class="clearfix"></div>

		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label">gender</label>
			<div class="col-sm-8 ">
				<span id="gender">{{#each user}}{{gender}}{{/each}}</span>
			</div>
		</div><!--end gender-->
		</br>
		<div class="clearfix"></div>

		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-8">
				<span id="email">{{#each user}}{{email}}{{/each}}</span>
			</div>
		</div><!--end email-->
		<div class="clearfix"></div>
		<div class="form-group">
			<label for="memberType" class="col-sm-3 control-label">Member Type</label>
			<div class="col-sm-5">
				<span id="memberType">{{#each user}}{{memberType}}{{/each}}</span>
			</div>
		</div><!--end radio-->		
		<div class="clearfix"></div>
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Your Description</label>
			<div class="col-sm-8">
				<span id="description">{{#each user}}{{description}}{{/each}}</span>
			</div>
		</div><!--end text area-->

		<div class="clearfix"></div>
  		<div class="form-group">
			<label for="news" class="col-sm-3 control-label">news receiving</label>
			<div class="col-sm-8">
				<span id="news">{{#each user}}{{news}}{{/each}}</span>
			</div>	
  		</div><!--end news-->    	
 		<div class="clearfix"></div>
  		<div class="form-group">
			<label for="promotion" class="col-sm-3 control-label">promotion receiving</label>
			<div class="col-sm-8">
				<span id="promotion">{{#each user}}{{promotion}}{{/each}}</span>
			</div>	
  		</div><!--end promotion-->
  		</div><!--panel body-->
  		<div class="panel-footer"><a href="/register">Back to register page</a></div>     
	</div>>
</body>
		<script src="libs/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript">
 if($('#news').text()=='1'){$('#news').html('Yes');}
 else {$('#news').text('No');}
 if($('#promotion').text()=='1'){$('#promotion').html('Yes');}
 else {$('#promotion').text('No');}
 if($('#gender').text()=='0'){$('#gender').html('Male');}
 else {$('#gender').text('Female');}
 if($('#memberType').text()=='0'){$('#memberType').html('Free Membership');}
 else if($('#memberType').text()=='1'){$('#memberType').html('Basic Level ( $30 - 30 Days )');}
 else {$('#memberType').html('Advanced Level ( $100 - 1 Year )');}

		</script>
</html>